*{
    box-sizing: border-box;
}

.box{
    background-color: brown;
    height: 50px;
    width: 50px;
    margin: 10px;
    display: inline-block;
    filter: opacity(0.5);
}

.side{
    display: inline-block;

}
li{
    display: inline-block;
}